@{
    ViewData["Title"] = "Enlace";
}

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- BOOTSTRAP -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <!-- BOOTSTRAP SCRIPT -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous"></script>
    <!-- CSS (CAMBIA EN VS)-->
    <!-- --------------------------------------------------------------------------- -->
    <link rel="stylesheet" href="/css/E-LOGIN.css">
    <link rel="stylesheet" href="/css/E-ALL.css">

    <!-- --------------------------------------------------------------------------- -->
    <!--FONT AWESOME (ESTILOS DE BOTÓN)-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <!-- FUENTE DE EATECH -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@523&family=Varela+Round&display=swap"
          rel="stylesheet">
    <!-- FUENTE DE TITULOS DE EATECH -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap"
          rel="stylesheet">

    <!-- CAPTCHA DE GOOGLE -->
    <script src="https://www.google.com/recaptcha/api.js"></script>
</head>

<body>

    <!-- CONTENEDOR PADRE (PRIMERA PARTE DEL INDEX. TIENE IMAGENES EN LAS MEDIA QUERY DE CSS) -->
    <div class="fondo-login">

        <!-- BARRA DE NAVEGCIÓN (LOGO Y DOS BOTONES) -->
        <nav class="navbar navbar-expand-lg navbar-custom">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">
                    <!-- --------------------------------------------------------------------------- -->
                    <img src="/IMAGENES-ALL/LOGO.png" alt="Logo" class="logo">
                    <!-- --------------------------------------------------------------------------- -->
                </a>
                <label for="check" class="menuButton navbar-toggler" type="button" data-bs-toggle="collapse"
                       data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                       aria-expanded="false" aria-label="Toggle navigation">
                    <input id="check" type="checkbox">
                    <span class="top"></span>
                    <span class="mid"></span>
                    <span class="bot"></span>
                </label>

                <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">

                    <ul class="navbar-nav mb-2 mb-lg-0">

                        <li class="nav-item">
                            <!-- --------------------------------------------------------------------------- -->
                            <a <a asp-controller="Aplicacion" asp-action="Registro">>
                                <!-- --------------------------------------------------------------------------- -->
                                <button class="botonsito_blanco iniciar_blanco">
                                    <span class="circle_blanco" aria-hidden="true">
                                        <span class="icon_blanco arrow_blanco"></span>
                                    </span>
                                    <span class="button-text_blanco">VOLVER</span>
                                </button>

                            </a>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>



        <br>
        <br>
        <br>

        <div class="container">
            <div class="heading">Escribe el código que tu institución te otorgó</div>
            <form class="form" action="">

                <div class="row">

                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <div class="contenedor-alimentos-agg2">


                            <!-- --------------------------------------------------------------------------- -->
                            <input placeholder="Ingresar código" id="Codigo" type="text" class="input"
                                   required="" />
                            <!-- --------------------------------------------------------------------------- -->




                        </div>

                    </div>
                </div>
                <br>
                <br>
                <br>

                <div class="enlace-registro">
                    <button class="animated-button">
                        <svg viewBox="0 0 24 24" class="arr-2" xmlns="http://www.w3.org/2000/svg">
                            <path d="M16.1716 10.9999L10.8076 5.63589L12.2218 4.22168L20 11.9999L12.2218 19.778L10.8076 18.3638L16.1716 12.9999H4V10.9999H16.1716Z">
                            </path>
                        </svg>
                        <!-- AGREGA UN LINK CON A SI NO TE DEJA USAR UNA VISTA -->
                        <span class="text">Enlazar Institución</span>
                        <span class="circle"></span>
                        <svg viewBox="0 0 24 24" class="arr-1" xmlns="http://www.w3.org/2000/svg">
                            <path d="M16.1716 10.9999L10.8076 5.63589L12.2218 4.22168L20 11.9999L12.2218 19.778L10.8076 18.3638L16.1716 12.9999H4V10.9999H16.1716Z">
                            </path>
                        </svg>
                    </button>
                </div>

            </form>
            <br>


        </div>
    </div>
    </div>



</body>

</html>
