@model Eatech.Models.Bd_Ex_ClaveLicenciaVerifi

@{
    ViewData["Title"] = "generarclave";
}

<h1>Generar Claves Instantaneas (Prueba)</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="GenerarClave">
            
            <div class="form-group mt-3">
                <input type="submit" id="btnGenerar" value="Generar Clave" class="btn btn-primary" />
               
            </div>
        </form>
    </div>
</div>

