@model Eatech.Models.Bd_Usuario

@{
	ViewData["Title"] = "Inicio de Sesión";
}
@if (ViewBag.error != null)
{

	<div class="alert alert-danger" role="alert" style="text-align:center; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">
		Usuario y/o contraseña incorrecta.
		Intentalo de Nuevo
	</div>
}
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>INICIAR SESIÓN</title>
	<!-- BOOTSTRAP -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
		  integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
	<!-- BOOTSTRAP SCRIPT -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
			crossorigin="anonymous"></script>
	<!-- CSS (CAMBIA EN VS)-->
	<!-- --------------------------------------------------------------------------- -->
	<link rel="stylesheet" href="/css/E-LOGIN.css">
	<link rel="stylesheet" href="/css/E-ALL.css">
	<!-- --------------------------------------------------------------------------- -->
	<!--FONT AWESOME (ESTILOS DE BOTÓN)-->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
	<!-- FUENTE DE EATECH -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@523&family=Varela+Round&display=swap"
		  rel="stylesheet">
	<!-- FUENTE DE TITULOS DE EATECH -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">

	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap"
		  rel="stylesheet">

	<!-- CAPTCHA DE GOOGLE -->
	<script src="https://www.google.com/recaptcha/api.js"></script>

	@*
	Script que ya estaba *@


</head>

<body class="fondo-login" style="background-image: url(/Imagenes/CUBES.jpg)">

	<!-- CONTENEDOR PADRE (PRIMERA PARTE DEL INDEX. TIENE IMAGENES EN LAS MEDIA QUERY DE CSS) -->
	<div >
		<br>
		<br>
		<br>

		<div class="container">
			<div class="heading">INICIA SESIÓN</div>
			<form class="form" asp-action="VerificarUsu" method="post" id="frmLogin">
				<!-- --------------------------------------------------------------------------- -->
				<div class="form-group">
					<input type="email" class="input" required name="correo" placeholder="Escribe tu correo" id="email" name="email" maxlength="50"/>
					
				</div>

				<!-- --------------------------------------------------------------------------- -->
				<div class="form-group">
					<input type="password" class="input" required name="contrasena" placeholder="Contraseña" id="password" name="password"                />
				</div>
				
				<!-- --------------------------------------------------------------------------- -->
				<div class="form-group">

				
				<span class="forgot-password"><a asp-controller="Aplicacion" asp-action="RecuperarContrasena">¿Olvidaste tu contraseña?</a></span>
				<!-- --------------------------------------------------------------------------- -->
				<br>
				<br>

				<div class="enlace-registro">

					<button class="animated-button" type="submit" id="btnLogin">
						<svg viewBox="0 0 24 24" class="arr-2" xmlns="http://www.w3.org/2000/svg">
							<path d="M16.1716 10.9999L10.8076 5.63589L12.2218 4.22168L20 11.9999L12.2218 19.778L10.8076 18.3638L16.1716 12.9999H4V10.9999H16.1716Z">
							</path>
						</svg>
						<!-- AGREGA UN LINK CON A SI NO TE DEJA USAR UNA VISTA -->

						<span class="text">Iniciar sesión</span>
						<span class="circle"></span>
						<svg viewBox="0 0 24 24" class="arr-1" xmlns="http://www.w3.org/2000/svg">
							<path d="M16.1716 10.9999L10.8076 5.63589L12.2218 4.22168L20 11.9999L12.2218 19.778L10.8076 18.3638L16.1716 12.9999H4V10.9999H16.1716Z">
							</path>
						</svg>
					</button>




				</div>
				</div>

			</form>
			<script>

				window.onload = function () {
					$('#frmLogin').submit(function () {
						$('#btnLogin').attr('disabled', true);
					});
				}

			</script>

			<br>


		</div>
	</div>
	</div>



</body>





</html>




























@* 
<form asp-action="VerificarUsu" method="post"
      id="frmLogin">
    <div class="form-group">
        <label>Correo:</label>
        <input type="email" class="form-control" required name="correo" placeholder="Correo electrónico" />
    </div>
    <div class="form-group">
        <label>Contraseña:</label>
        <input type="password" class="form-control" required name="contrasena" placeholder="Contraseña" />
    </div>
    <div class="form-group mt-2">
        <input type="submit" value="Iniciar sesión"
               class="btn btn-primary" id="btnLogin" />
    </div>

    <div class="form-group mt-2">
        <a asp-action="Registro" class="btn btn-link">
            Registrarme
        </a>
        <a asp-action="RecuperarPassword" class="btn btn-link">
            ¿Olvidaste tu contraseña?
        </a>
    </div>

</form>
 *@


