/* FUENTES, BODY Y HTML: */

.anton-regular {
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.saira-condensed-thin {
  font-family: "Saira Condensed", sans-serif;
  font-weight: 100;
  font-style: normal;
}

body {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 523;
  font-style: normal;
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

/* DISEÑO DE LOS BOTONES PREDETERMINADOS (BLANCOS Y DE COLOR) */

/* BOTON CON CIRCULO E INDICADOR PARA INICIO DE SESION Y REGISTRO */

.botonsito {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
}

.botonsito.iniciar {
  width: 12rem;
  height: auto;
}

.botonsito.iniciar .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background: rgb(0, 0, 0);
  border-radius: 1.625rem;
}

.botonsito.iniciar .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: rgb(0, 0, 0);
}

.botonsito.iniciar .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}

.botonsito.iniciar .circle .icon.arrow::before {
  position: absolute;
  content: "";
  top: -0.29rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  transform: rotate(45deg);
}

.botonsito.iniciar .button-text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 2.85rem;
  color: rgb(0, 0, 0);
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
}

.botonsito:hover .circle {
  width: 100%;
}

.botonsito:hover .circle .icon.arrow {
  background: #ffffff;
  transform: translate(1rem, 0);
}

.botonsito:hover .button-text {
  color: #fff;
}

/* BOTON PARA INICIO DE SESION BLANCO */

.botonsito_blanco {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
}

.botonsito_blanco.iniciar_blanco {
  width: 12rem;
  height: auto;
}

.botonsito_blanco.iniciar_blanco .circle_blanco {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background: #fff;
  border-radius: 1.625rem;
}

.botonsito_blanco.iniciar_blanco .circle_blanco .icon_blanco {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
}

.botonsito_blanco.iniciar_blanco .circle_blanco .icon_blanco.arrow_blanco {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}

.botonsito_blanco.iniciar_blanco .circle_blanco .icon_blanco.arrow_blanco::before {
  position: absolute;
  content: "";
  top: -0.29rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #000000;
  border-right: 0.125rem solid #000000;
  transform: rotate(45deg);
}

.botonsito_blanco.iniciar_blanco .button-text_blanco {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 2.85rem;
  color: #ffffff;
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
}

.botonsito_blanco:hover .circle_blanco {
  width: 100%;
}

.botonsito_blanco:hover .circle_blanco .icon_blanco.arrow_blanco {
  background: #000000;
  transform: translate(1rem, 0);
}

.botonsito_blanco:hover .button-text_blanco {
  color: #000000;
}

/* BOTON PARA INICIO DE SESION CON ANIMACION  */


.animated-button {
  position: relative;
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 16px 36px;
  border: 4px solid;
  border-color: transparent;
  font-size: 16px;
  background-color: inherit;
  border-radius: 100px;
  font-weight: 600;
  color: #066769;
  box-shadow: 0 0 0 2px #066769;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button svg {
  position: absolute;
  width: 24px;
  fill: #066769;
  z-index: 9;
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button .arr-1 {
  right: 16px;
}

.animated-button .arr-2 {
  left: -25%;
}

.animated-button .circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  background-color: rgb(24, 92, 91);
  border-radius: 50%;
  opacity: 0;
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button .text {
  position: relative;
  z-index: 1;
  transform: translateX(-12px);
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button:hover {
  box-shadow: 0 0 0 12px transparent;
  color: #ffffff;
  border-radius: 12px;
}

.animated-button:hover .arr-1 {
  right: -25%;
}

.animated-button:hover .arr-2 {
  left: 16px;
}

.animated-button:hover .text {
  transform: translateX(12px);
}

.animated-button:hover svg {
  fill: #ffffff;
}

.animated-button:active {
  scale: 0.95;
  box-shadow: 0 0 0 4px rgb(14, 164, 161);
}

.animated-button:hover .circle {
  width: 220px;
  height: 220px;
  opacity: 1;
}



.animated-button {
  margin: auto;
}

.animated-button {
  height: 30px;
}


/* BOTON FONT AWESOME DE INDEX */
.space-icon_blanco {
  transition: transform 0.3s ease, opacity 0.3s ease;
  opacity: 1;
}

.space-link_blanco:hover .space-icon_blanco {
  transform: scale(1.2);
}


/* Efecto de movimiento hacia arriba y hacia abajo */
@keyframes floating {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }
}

.space-link .space-icon {
  animation: floating 2s ease infinite;
}

/* Efecto de fondo de espacio */
.space-link {
  position: relative;
  display: inline-block;
}

.space-link:hover::before {
  animation: none;
}

.space-link::before {
  content: '';
  position: absolute;
  top: -100%;
  left: -100%;
  width: 300%;
  height: 300%;
  background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%);
  z-index: -1;
  animation: space-animation 20s linear infinite;
}

@keyframes space-animation {
  from {
    transform: translateX(-50%) translateY(-50%) scale(1);
  }

  to {
    transform: translateX(-50%) translateY(-50%) scale(1.2);
  }
}



/* ESTILOS DE LA BARRA DE NAVEGACIÓN */


.navbar-custom {
  background-color: transparent;
}

.logo-custom {
  width: 200px;
}

.logo {
  width: 200px;
} 

.navbar-custom {
  padding: 10px;
}

.navbar-custom {
  background-color: transparent;
  border: none;
}

.navbar-nav {
  margin-left: auto;
}

.navbar-nav .nav-item {
  margin-right: 15px;
}



.navbar-custom .navbar-nav .nav-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

@media (max-width: 991.98px) {
  .navbar-custom .collapse.show .navbar-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .navbar-custom .navbar-nav .nav-item {
    margin: 10px 0;
    width: 100%;
    text-align: center;
  }
}

/* BURGER DE LA NAVBAR  */

.menuButton {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 13%;
  width: 2.5em;
  height: 3.5em;
  transition: all .3s;
  border: none;

}

input[type="checkbox"] {
  display: none;
  visibility: hidden;
}

.menuButton span {
  width: 30px;
  height: 4px;
  background: #091253;
  border-radius: 100px;
  transition: 0.3s ease;
}

input[type="checkbox"]:checked~.top {
  transform: translateY(290%) rotate(45deg);
  width: 40px;
}

input[type="checkbox"]:checked~.bot {
  transform: translateY(-270%) rotate(-45deg);
  width: 40px;
}

input[type="checkbox"]:checked~.mid {
  transform: translateX(-20px);
  opacity: 0;
}

/* FORMS O INPUTS, HASTA EL MOMENTO SOLO HAY TEXT AREA, TEXT Y PASSWORD */


/* FORM DE ENTRADA DE TEXTO */

.form {
  margin-top: 20px;
}

.form .input {
  width: 100%;
  background: white;
  border: none;
  padding: 15px 20px;
  border-radius: 20px;
  margin-top: 15px;
  box-shadow: #cff0ff 0px 10px 10px -5px;
  border-inline: 2px solid transparent;
}

.form .input::-moz-placeholder {
  color: rgb(61, 57, 57);
}

.form .input::placeholder {
  color: rgb(61, 57, 57);
}

.form .input:focus {
  outline: none;
  border-inline: 2px solid teal;
}

.form .forgot-password {
  display: block;
  margin-top: 10px;
  margin-left: 10px;
}

.form .forgot-password a {
  font-size: 11px;
  color: #219f9f;
  text-decoration: none;
}

.form .login-button {
  display: block;
  width: 100%;
  font-weight: bold;
  background: linear-gradient(
    45deg,
    #008080 0%,
    #008080 100%
  );
  color: white;
  padding-block: 15px;
  margin: 20px auto;
  border-radius: 20px;
  box-shadow: rgba(133, 215, 193, 0.878) 0px 20px 10px -15px;
  border: none;
  transition: all 0.2s ease-in-out;
}

.form .login-button:hover {
  transform: scale(1.03);
  box-shadow: rgba(133, 215, 136, 0.878) 0px 23px 10px -20px;
}

.form .login-button:active {
  transform: scale(0.95);
  box-shadow: rgba(133, 215, 169, 0.878) 0px 15px 10px -10px;
}

.social-account-container {
  margin-top: 25px;
}

.social-account-container .title {
  display: block;
  text-align: center;
  font-size: 10px;
  color: rgb(67, 58, 58);
}

.social-account-container .social-accounts {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 5px;
}

.social-account-container .social-accounts .social-button {
  background: linear-gradient(45deg, rgb(0, 0, 0) 0%, rgb(112, 112, 112) 100%);
  border: 5px solid white;
  padding: 5px;
  border-radius: 50%;
  width: 40px;
  aspect-ratio: 1;
  display: grid;
  place-content: center;
  box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 12px 10px -8px;
  transition: all 0.2s ease-in-out;
}

.social-account-container .social-accounts .social-button .svg {
  fill: white;
  margin: auto;
}

.social-account-container .social-accounts .social-button:hover {
  transform: scale(1.2);
}

.social-account-container .social-accounts .social-button:active {
  transform: scale(0.9);
}

.agreement {
  display: block;
  text-align: center;
  margin-top: 15px;
}

.agreement a {
  text-decoration: none;
  color: #0099ff;
  font-size: 9px;
}
/* FORM DE LOS CHECKBOX */

.checkbox-wrapper-4 * {
  box-sizing: border-box;
  color: teal;
  font-size: 10px;
}

.checkbox-wrapper-4 .cbx {
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
  padding: 6px 8px;
  border-radius: 6px;
  overflow: hidden;
  transition: all 0.2s ease;
  display: inline-block;
}

.checkbox-wrapper-4 .cbx:not(:last-child) {
  margin-right: 6px;
}

.checkbox-wrapper-4 .cbx:hover {
  background: rgba(0, 119, 255, 0.06);
}

.checkbox-wrapper-4 .cbx span {
  float: left;
  vertical-align: middle;
  transform: translate3d(0, 0, 0);
}

.checkbox-wrapper-4 .cbx span:first-child {
  position: relative;
  width: 18px;
  height: 18px;
  border-radius: 4px;
  transform: scale(1);
  border: 3px solid teal;
  transition: all 0.2s ease;
  box-shadow: 0 1px 1px rgba(0, 16, 75, 0.05);
}

.checkbox-wrapper-4 .cbx span:first-child svg {
  position: absolute;
  top: 3px;
  left: 2px;
  fill: none;
  stroke: #fff;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 16px;
  stroke-dashoffset: 16px;
  transition: all 0.3s ease;
  transition-delay: 0.1s;
  transform: translate3d(0, 0, 0);
}

.checkbox-wrapper-4 .cbx span:last-child {
  padding-left: 8px;
  line-height: 18px;
}

.checkbox-wrapper-4 .cbx:hover span:first-child {
  border-color: teal;
}

.checkbox-wrapper-4 .inp-cbx {
  position: absolute;
  visibility: hidden;
}

.checkbox-wrapper-4 .inp-cbx:checked + .cbx span:first-child {
  background: teal;
  border-color: teal;
  animation: wave-4 0.4s ease;
}

.checkbox-wrapper-4 .inp-cbx:checked + .cbx span:first-child svg {
  stroke-dashoffset: 0;
}

.checkbox-wrapper-4 .inline-svg {
  position: absolute;
  width: 0;
  height: 0;
  pointer-events: none;
  user-select: none;
}

@media screen and (max-width: 840px) {
  .checkbox-wrapper-4 .cbx {
    width: 100%;
    display: inline-block;
  }
}

@-moz-keyframes wave-4 {
  50% {
    transform: scale(0.9);
  }
}

@-webkit-keyframes wave-4 {
  50% {
    transform: scale(0.9);
  }
}

@-o-keyframes wave-4 {
  50% {
    transform: scale(0.9);
  }
}

@keyframes wave-4 {
  50% {
    transform: scale(0.9);
  }
}


/* BOTON PARA CERRAR SESION  */

.Btn-lo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 45px;
  height: 45px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition-duration: .3s;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
  background-color: rgb(255, 255, 255);
}

/* plus sign */
.sign-lo {
  width: 100%;
  transition-duration: .3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sign-lo svg {
  width: 17px;
}

.sign-lo svg path {
  fill: rgb(0, 0, 0);
}

/* text */
.text-lo {
  position: absolute;
  right: 0%;
  width: 0%;
  opacity: 0;
  color: rgb(0, 0, 0);
  font-size: 1em;
  font-weight: 600;
  transition-duration: .3s;
}

/* hover effect on button width */
.Btn-lo:hover {
  width: 200px;
  border-radius: 40px;
  transition-duration: .3s;
}

.Btn-lo:hover .sign-lo {
  width: 30%;
  transition-duration: .3s;
  padding-left: 20px;
}

/* hover effect button's text */
.Btn-lo:hover .text-lo {
  opacity: 1;
  width: 70%;
  transition-duration: .3s;
  padding-right: 10px;
}

/* button click effect */
.Btn-lo:active {
  transform: translate(2px, 2px);
}
