<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> Eatech - @ViewData["Title"]</title>
    <link rel="icon" href="/Imagenes/LOGO.png" type="image/x-icon" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Eatech.styles.css" asp-append-version="true" />

    <link rel="stylesheet" href="/css/detalle.css">
</head>
<body>
    <header>


        @using Microsoft.AspNetCore.Mvc.Rendering
        @{

            string currentController = ViewContext.RouteData.Values["Controller"].ToString();
            string currentAction = ViewContext.RouteData.Values["Action"].ToString();
        }




        @if ((currentController == "Aplicacion" && currentAction == "Login") ||
        (currentController == "Aplicacion" && currentAction == "Registro") ||
        (currentController == "Aplicacion" && currentAction == "Politicas"))

        {


            <nav class="navbar navbar-expand-lg navbar-custom">
                <div class="container-fluid">
                    <a class="navbar-brand" asp-controller="Aplicacion" asp-action="Index">
                        <!-- --------------------------------------------------------------------------- -->
                        <img src="/IMAGENES-ALL/LOGO.png" alt="Logo" class="logo">
                        <!-- --------------------------------------------------------------------------- -->
                    </a>
                    <label for="check" class="menuButton navbar-toggler" type="button" data-bs-toggle="collapse"
                           data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                           aria-expanded="false" aria-label="Toggle navigation">
                        <input id="check" type="checkbox">
                        <span class="top"></span>
                        <span class="mid"></span>
                        <span class="bot"></span>
                    </label>

                    <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
                        <!--PARTE DONDE SE DIVIDEN LAS NAVBAR--->
                        <ul class="navbar-nav mb-2 mb-lg-0">
                            <li class="nav-item">

                                @if (currentController == "Aplicacion" && currentAction == "Login")
                                {
                                    <!-- --------------------------------------------------------------------------- -->
                                    <a asp-area="" asp-controller="Aplicacion" asp-action="Registro">
                                        <!-- --------------------------------------------------------------------------- -->
                                        <button class="botonsito_blanco iniciar_blanco">
                                            <span class="circle_blanco" aria-hidden="true">
                                                <span class="icon_blanco arrow_blanco"></span>
                                            </span>
                                            <span class="button-text_blanco">REGISTRARME</span>
                                        </button>

                                    </a>




                                }
                                @if ((currentController == "Aplicacion" && currentAction == "Registro") 
                               )
                                {
                                    <!-- --------------------------------------------------------------------------- -->
                                    <a asp-controller="Aplicacion" asp-action="Login">
                                        <!-- --------------------------------------------------------------------------- -->
                                        <button class="botonsito_blanco iniciar_blanco">
                                            <span class="circle_blanco" aria-hidden="true">
                                                <span class="icon_blanco arrow_blanco"></span>
                                            </span>
                                            <span class="button-text_blanco">INICIAR SESIÓN</span>
                                        </button>

                                    </a>



                                <li class="nav-item">
                                    <!-- --------------------------------------------------------------------------- -->
                                    <a asp-controller="Aplicacion" asp-action="Politicas">
                                        <!-- --------------------------------------------------------------------------- -->
                                        <button class="botonsito_blanco iniciar_blanco">
                                            <span class="circle_blanco" aria-hidden="true">
                                                <span class="icon_blanco arrow_blanco"></span>
                                            </span>
                                            <span class="button-text_blanco">Politicas</span>
                                        </button>

                                    </a>
                                </li>

                                }
                            </li>

                            <li class="nav-item">

                                @if ((currentController == "Aplicacion" && currentAction == "Login")||
                               (currentController == "Aplicacion" && currentAction == "Politicas"))

                                {
                                    <!-- --------------------------------------------------------------------------- -->
                                    <a asp-area="" asp-controller="Aplicacion" asp-action="Index">
                                        <!-- --------------------------------------------------------------------------- -->
                                        <button class="botonsito_blanco iniciar_blanco">
                                            <span class="circle_blanco" aria-hidden="true">
                                                <span class="icon_blanco arrow_blanco"></span>
                                            </span>
                                            <span class="button-text_blanco">VOLVER</span>
                                        </button>

                                    </a>


                                }

                                @if (currentController == "Aplicacion" && currentAction == "Registro")
                               
                                {


                                    <!-- --------------------------------------------------------------------------- -->
                                    <a asp-area="" asp-controller="Aplicacion" asp-action="Login">
                                        <!-- --------------------------------------------------------------------------- -->
                                        <button class="botonsito_blanco iniciar_blanco">
                                            <span class="circle_blanco" aria-hidden="true">
                                                <span class="icon_blanco arrow_blanco"></span>
                                            </span>
                                            <span class="button-text_blanco">VOLVER</span>
                                        </button>

                                    </a>

                                }
                            </li>
                           

                            
                           
                            
                        </ul>
                    </div>
                </div>
            </nav>

        }
@* 
        @if (currentController == "Aplicacion" && currentAction == "Index")
        {

           

                <nav class="navbar navbar-expand-lg navbar-custom1">
                    <div class="container-fluid">
                        <a class="navbar-brand" asp-controller="Aplicacion" asp-action="Index">
                            <!-- --------------------------------------------------------------------------- -->
                            <img src="/IMAGENES-ALL/LOGO.png" alt="Logo" class="logo">
                            <!-- --------------------------------------------------------------------------- -->
                        </a>
                        <label for="check" class="menuButton navbar-toggler" type="button" data-bs-toggle="collapse"
                               data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                               aria-expanded="false" aria-label="Toggle navigation">
                            <input id="check" type="checkbox">
                            <span class="top"></span>
                            <span class="mid"></span>
                            <span class="bot"></span>
                        </label>

                        <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
                            <!--PARTE DONDE SE DIVIDEN LAS NAVBAR--->
                            <ul class="navbar-nav mb-2 mb-lg-0">

                                <li class="nav-item">


                                    <!-- --------------------------------------------------------------------------- -->
                                    <a asp-controller="Aplicacion" asp-action="Login">
                                        <!-- --------------------------------------------------------------------------- -->
                                        <button class="botonsito_blanco iniciar_blanco">
                                            <span class="circle_blanco" aria-hidden="true">
                                                <span class="icon_blanco arrow_blanco"></span>
                                            </span>
                                            <span class="button-text_blanco">INICIAR SESIÓN</span>
                                        </button>

                                    </a>

                                </li>

                            </ul>
                        </div>
                    </div>
                </nav>
                
            
            

        } *@

    </header>

    <div class="container1">
        <main role="main" class="">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="false"></script>
    @await RenderSectionAsync("Scripts", required: false)


</body>

</html>



